{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{{ block.super }}
{% endblock %}

{% block css %}<link href="{% static 'bootstrap/css/bootstrap-blog.css' %}" rel="stylesheet">{% endblock %}

{% block title %}Charlie's Blog{% endblock %}

{% block headline %}Charlie's Blog <small>Life, Liberty, and the Pursuit of Frattiness</small>{% endblock %}

{% block content %}
	<div class="blog-main">
		{% for post in posts %}
			{% include 'blog_post.html' %}
		{% endfor %}

		<ul class="pager">
			{% if page > 1 %}
				{% if month %}
					<li><a href="{% url 'blog' %}?page={{page|add:'-1'}}&month={{month}}">Previous</a></li>
				{% else %}
					<li><a href="{% url 'blog' %}?page={{page|add:'-1'}}">Previous</a></li>
				{% endif %}
			{% endif %}
			{% if next_page %}
				{% if month %}
					<li><a href="{% url 'blog' %}?page={{page|add:'1'}}&month={{month}}">Next</a></li>
				{% else %}
					<li><a href="{% url 'blog' %}?page={{page|add:'1'}}">Next</a></li>
				{% endif %}
			{% endif %}
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar-module sidebar-module-inset">
	<h4>Archives</h4>
	<ol class="list-unstyled">
		{% for key,value in months.items %}
			<li><a href="{% url 'blog' %}?month={{key}}">{{value}}</a></li>
		{% endfor %}
	</ol>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	window.onload = function() {
		document.getElementById("blog").className += " active";
	}
</script>
{% endblock %}
