<div class="sidebar-module sidebar-module-inset">
	<h4>About</h4>
	<p>Charlie's webpage</p>
</div>
<div class="sidebar-module">
	<h4>Elsewhere</h4>
	<ol class="list-unstyled">
		<li style="height: 26px;">
			<iframe src="http://ghbtns.com/github-btn.html?user=chas11man&type=follow&count=false&size=small" allowtransparency="true" frameborder="0" scrolling="0" width="213px" height="20px"></iframe>
		</li>
		<li style="height: 26px;">
			<a href="https://twitter.com/chas11man" class="twitter-follow-button" data-show-count="false">Follow @chas11man</a>
			<script>
				!function(d,s,id) {
					var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http':'https';
					if(!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p + '://platform.twitter.com/widgets.js';
						fjs.parentNode.insertBefore(js,fjs);
					}
				} (document, 'script', 'twitter-wjs');
			</script>
		</li>
		<li style="height: 26px;">
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/charles-marshall/5a/26a/337/" data-format="hover" data-related="false" data-text="Charlie Marshall"></script>
		</li>
		<li style="height: 26px;">
			<div class="g-follow" data-annotation="none" data-height="20" data-href="//plus.google.com/u/0/109426367487416285137" data-rel="author"></div>
			<script type="text/javascript">
				(
					function() {
						var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						po.src = 'https://apis.google.com/js/platform.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					}
				)();
			</script>
		</li>
		<li style="height: 26px;">
			<iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fchas11man&amp;width&amp;height=80&amp;colorscheme=light&amp;layout=button&amp;show_faces=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;" allowTransparency="true"></iframe>
		</li>
		<li style="height: 26px;">
			<a href="http://www.flickr.com/photos/chas11man/" title="See my photos on Flickr!">
				<img src="https://s.yimg.com/pw/images/goodies/white-flickr.png" width="56" height="26" alt="">
			</a>
		</li>
	</ol>
</div>
