{% extends 'base.html' %}

{% block title %}Blog Title{% endblock %}

{% block navbar %}
<a class="blog-nav-item active" href="{% url 'blog' %}">Home</a>
<a class="blog-nav-item" href="{% url 'pl-photologue-root' %}">Galery</a>
{% endblock %}

{% block content %}
	<div class="blog-main">
		{% for post in posts %}
			{% include 'blog_post.html' %}
		{% endfor %}

		<ul class="pager">
			{% if page > 1 %}
			<li><a href="{% url 'blog_paged' page|add:'-1' %}">Previous</a></li>
			{% endif %}
			{% if next_page %}
			<li><a href="{% url 'blog_paged' page|add:'1' %}">Next</a></li>
			{% endif %}
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar-module">
	<h4>Archives</h4>
	<ol class="list-unstyled">
		{% for key,value in months.items %}
		<li><a href="{% url 'blog_month' key %}">{{value}}</a></li>
		{% endfor %}
	</ol>
</div>
{% endblock %}
