{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Title{% endblock %}

{% block navbar %}
<a class="blog-nav-item active" href="{% url 'home' %}">Home</a>
<a class="blog-nav-item" href="{% url 'pl-photologue-root' %}">Galery</a>
{% endblock %}

{% block content %}


		<div class="col-sm-8 blog-main">
			{% for post in posts %}
				{% include 'blog_post.html' %}
			{% endfor %}

			<ul class="pager">
				{% if page > 1 %}
				<li><a href="{% url 'paged_home' page|add:'-1' %}">Previous</a></li>
				{% endif %}
				{% if end == False %}
				<li><a href="{% url 'paged_home' page|add:'1' %}">Next</a></li>
				{% endif %}
			</ul>
		</div>

{% endblock %}
