{% extends 'base.html' %}

{% block title %}Blog Title{% endblock %}

{% block navbar %}
{{ block.super }}

{% endblock %}
{% block content %}
	<div class="blog-main">
		{% for post in posts %}
			{% include 'blog_post.html' %}
		{% endfor %}

		<ul class="pager">
			{% if page > 1 %}
			<li><a href="{% url 'paged_home' page|add:'-1' %}">Previous</a></li>
			{% endif %}
			{% if end == False %}
			<li><a href="{% url 'paged_home' page|add:'1' %}">Next</a></li>
			{% endif %}
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar-module">
	<h4>Archives</h4>
	<ol class="list-unstyled">
		{% for month in months %}
		<li><a href="#">{{month}}</a></li>
		{% endfor %}
	</ol>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	window.onload = function() {
		document.getElementById("home").className += " active";
	}
</script>
{% endblock %}
